# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.spec

# PyInstaller & Build artifacts
build/
dist/
installers/Desktop/REMOTE4REAL-Windows/
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
ENV/
.venv/

# Node & Expo / React Native
node_modules/
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android build outputs
REMOTE4REALMobile/android/.gradle/
REMOTE4REALMobile/android/app/build/
REMOTE4REALMobile/android/.idea/
REMOTE4REALMobile/android/captures/
REMOTE4REALMobile/android/gradlew
REMOTE4REALMobile/android/gradlew.bat
REMOTE4REALMobile/android/local.properties
REMOTE4REALMobile/node_modules/

# iOS build outputs
REMOTE4REALMobile/ios/Pods/
REMOTE4REALMobile/ios/build/
REMOTE4REALMobile/ios/*.xcworkspace
REMOTE4REALMobile/ios/*.xcodeproj

# OS & IDE temporary files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.log

.vercel
